<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://www.bookstellyouwhy.com/pictures/46295.jpg?v=1378120441">
    </div>
    
    {{>footer}}
</body>

</html>